<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/menu.ejs'); %>
    </header>
    <div class="container jumbotron d-flex flex-column  align-items-center">
        <h1>Your Account</h1>
        <div class="underline"></div>
        <h3>Hello, <%= user %>.</h3>
        <a class="btn btn-danger mt-4" href="/logout" role="button">Logout</a>
    </div>
    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>
</html>